.tab{
  border: none;
  border-radius: 999px;
  padding: 8px 24px;
  font-size: 20px;
  font-weight: 700;
  margin-right: 32px;
  margin-top: 16px;
  background: #F4F4F4;
  cursor: pointer;
  transition: 0.3s;
  &.active, &:hover {
    background: #151414;
    color: #fff;
  }
}
