.ob-new {
  color: $dark-text;
}

.content-wrap.is-onboarding {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  background: #fff;
}

h1 {
  color: inherit;
  font-size: 40px;
  line-height: 54px;
}

h2 {
  font-size: 24px;
  line-height: 36px;
  margin: 10px 0;
}

h3 {
  font-size: 20px;
  line-height: 30px;
}

p {
  font-size: 18px;
  line-height: 30.6px;
  color: $light-text-1;
  font-weight: 300;
}

button.ob-button {
  display: flex;
  height: 48px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 5px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  &.is-primary{
    background: $primary;
  }
}

.ob-container {
  justify-content: center;
  flex-direction: column;
  display: flex;
  overflow: scroll;
  height: calc(100vh - 61px);
  &.row {
    flex-direction: row;
  }
  &.wide {
    display: block;
    padding: 0 50px;
  }
  &.narrow {
    max-width: 559px;
    margin: 0 auto;
  }
  &.ovf-initial{
    overflow: initial;
  }
}

.ob-sites {
  margin-top: 30px;

  &.is-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 22px;
    grid-row-gap: 24px;
  }
}

.ob-title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}












.ob-commands-toggle {
  font-size: 40px;
  background: $primary;
  &:hover {
    color: $light-text;
  }
  &.fixed {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 1;
  }
}

.iframe-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.toggle-button {
  //align-self: ${showPanel ? 'flex-end' : 'center'};
  //position: ${showPanel ? 'fixed' : 'unset'};
  bottom: 20px;
  //right: ${showPanel ? '20px' : 'unset'};
  z-index: 999;
}








@mixin ob-general--laptop() {
  .ob-sites {
    &.is-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@mixin ob-general--tablet() {
  .ob-sites {
    &.is-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
}
