.tiob-tooltip-wrap {
  margin-left: 10px;

  .tiob-tooltip-toggle {
    position: relative;
    display: flex;
    align-items: center;

    > svg {
      fill: $blue;
    }

    &:hover, &:focus {
      outline: none;
      box-shadow: none;

      .tiob-tooltip-content {
        opacity: 1;
        pointer-events: all;
        z-index: 11;
      }
    }
  }
}

.tiob-tooltip-content {
  font-size: 13px;
  top: 100%;
  left: 0;
  position: absolute;
  min-width: 300px;
  background: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  padding: 10px;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
}
