.card.starter-site-card {
	padding: 0;
	max-width: 100%;

	&:hover, &:focus-within {
		.actions, .fav {
			opacity: 1;
		}
	}

	.actions.visible {
		opacity: 1;
	}

	.top {
		position: relative;
		overflow: hidden;
	}

	.fav {
		position: absolute;
		z-index: 2000;
		left: -15px;
		top: -30px;
		opacity: 0;
		transition: .3s ease;

		button {
			padding: 30px 5px 30px 30px;
			height: auto;
			transform: rotate(45deg);
			background-color: $purple;
		}

		svg {
			transform: rotate(-45deg);
			fill: #fff;
			max-width: 15px;
		}
	}

	.actions {
		background-color: rgba(0, 0, 0, 0.75);
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		position: absolute;
		opacity: 0;
		transition: .3s ease;

		.components-button {
			margin: 5px 0;
			width: 100px;
			height: 40px;
			font-weight: 600;
			justify-content: center;

			&.is-secondary {
				color: #fff;
				border: 2px solid #fff;
			}
		}
	}

	.image {
		height: 350px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-color: transparentize($dark-grey, .75);
	}

	img {
		width: 100%;
		display: block;
	}

	.bottom {
		display: flex;
		align-items: center;
		padding: 15px 10px 15px 30px;
		border-top: 1px solid $grey;

		p {
			font-size: 16px;
			font-weight: 700;
			color: $black;
			margin: 0;
		}
	}
}

.list-item__table {
	.list-item__table_row {
		display: flex;
		height: 60px;
		align-items: center;
		padding: 0 25px;
		background: #fff;
		border-top: 1px solid rgba(0, 0, 0, 0.11);
		border-right: 1px solid rgba(0, 0, 0, 0.11);
		border-left: 1px solid rgba(0, 0, 0, 0.11);

		&:last-child {
			border-bottom: 1px solid rgba(0, 0, 0, 0.11);
		}

		svg {
			height: 24px;
			margin-right: 10px;
			fill: #B9B9B9;
		}

		.list-item__table_row__title {
			display: flex;
			align-items: center;
			flex-basis: 35%;

			.components-base-control__field {
				margin: 0;
			}
		}

		.list-item__table_row__controls {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			flex-basis: 30%;
		}

		.list-item__table_row__actions {
			display: flex;
			justify-content: flex-end;
			flex-basis: 35%;

			.components-button {
				padding: 6px 30px;

				&.is-primary {
					margin-left: 10px;
				}
			}
		}
	}
}