.card.starter-site-card {
	padding: 0;
	max-width: 100%;

	&:hover, &:focus-within {
		.actions, .fav {
			opacity: 1;
		}
	}

	.actions.visible {
		opacity: 1;
	}

	.top {
		position: relative;
		overflow: hidden;
	}

	.new-badge {
		position: absolute;
		display: block;
		z-index: 25;
		padding: 5px 7px;
		left: -10px;
		top: 8px;
		border-radius: 2px;
		background-color: #D5E5F6;
		font-style: normal;
		font-weight: 800;
		font-size: 12px;
		color: #585858;
	}

	.fav {
		position: absolute;
		z-index: 2000;
		left: -15px;
		top: -30px;
		opacity: 0;
		transition: .3s ease;

		button {
			padding: 30px 5px 30px 30px;
			height: auto;
			transform: rotate(45deg);
			background-color: $purple;
		}

		svg {
			transform: rotate(-45deg);
			fill: #fff;
			max-width: 15px;
		}
	}

	.actions {
		background-color: rgba(0, 0, 0, 0.75);
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		position: absolute;
		opacity: 0;
		transition: .3s ease;

		.templates {
			color: #fff;
			&.components-button{
			width:auto;
			}
		}

		.components-button {
			margin: 5px 0;
			width: 100px;
			height: 40px;
			font-weight: 600;
			justify-content: center;

			&.is-secondary {
				color: #fff;
				border: 2px solid #fff;
			}
		}
	}

	.image {
		height: 420px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
		background-color: transparentize($dark-grey, .75);
	}

	img {
		width: 100%;
		display: block;
	}

	.bottom {
		display: flex;
		align-items: center;
		padding: 15px 10px 15px 30px;
		border-top: 1px solid $grey;

		p {
			font-size: 16px;
			font-weight: 700;
			color: $black;
			margin: 0;
		}
	}

	&.has-templates:after {
		position: absolute;
		width: 93%;
		background-color: #FFFFFF;
		display: block;
		height: 10px;
		content: '';
		margin: 0 auto;
		bottom: -7px;
		left: 50%;
		transform: translateX(-50%);
		z-index: -1;
		border: 1px solid #D9D9D9;
	}
}
