.ob-cat-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  .cat{
    color: $main-text;
    background: $light-bg;
    border: none;
    border-radius: 999px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    &.active, &:hover {
      background: $dark-bg;
      color: $inverted-text;
    }
  }
}


