.ob-header{
  display: flex;
  justify-content: space-between;
  padding: 12px 40px;
  border-bottom: 1px solid $border;
  align-items: center;
  background: #fff;
  position: relative;
  z-index: 1;
  .components-button.is-link {
    color: $main-text;
  }
}
