.ob-site-settings {
  position: relative;
  width: 350px;
  transition: width 0.3s ease;
  z-index: 2;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.10);
}

.ob-site-settings-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  
  overflow: auto;

  &> * {
    padding: 0 24px;
  }
}

.ob-settings-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid $light-bg;
  padding: 15px 24px;
}

.ob-settings-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 7px;

  &> * {
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
  }

  h3 {
    font-size: 18px;
  }
}

.ob-settings-description {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 37px;
  .ob-back {
    color: $primary;
    padding: 0;
    align-self: self-start;
    &:focus {
      box-shadow: none;
    }
  }
  h2 {
    margin: 0;
  }
  p {
    margin: 0;
    font-size: 14px;
    line-height: 23.8px;
    font-weight: 400;
  }
}

.ob-settings-wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.ob-settings-top {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.ob-settings-bottom {
  overflow: auto;
  position: sticky;
  bottom: 0;
  padding: 20px;
  background: #fff;
  box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.10);
}