.ob-toast {
  position: fixed;
  bottom: 24px;
  right: 18px;
  opacity: 0;
  transform: translateY(20px); /* Start 20px below the final position */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Add transition */
  display: inline-flex;
  padding: 10px 14px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  max-width: 340px;
  border-radius: $button-radius;
  border: 1px solid $border;
  background: $light-bg;
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.18);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}

.ob-toast-content {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 10px;
  p {
    margin: 0;
    color: $main-text;
    font-size: 13px;
    line-height: 18px;
  }
  a {
    text-decoration: none;
    color: $primary;
    font-weight: 700;
    white-space: nowrap;
  }
}

.ob-toast-icon {
  display: inline-flex;
  flex-shrink: 0;

  svg {
    width: 22px;
    height: 22px;
  }
}

.ob-toast-close {
  background: none;
  border: none;
  font-size: 18px;
  line-height: 1;
  color: $secondary-text;
  cursor: pointer;
  flex-shrink: 0;
}

/* Add a class to control the appearance */
.ob-toast.show {
  opacity: 1; /* Show with full opacity */
  transform: translateY(0); /* Move to the final position */
}
