$primary: #0366D5 !default;
$dark-bg: #151414 !default;
$light-bg: #F4F4F4 !default;
$main-text: #151414 !default;
$secondary-text: #848484 !default;
$inverted-text: #FFF !default;
$border: #E5E5E5 !default;

$card-radius: 12px !default;
$input-radius: 6px !default;
$button-radius: 5px !default;

$tablet: '660px';
$laptop: '992px';
$desktop: '1200px';
$desktop-large: '1400px';

$info: #6BC2DD !default;
$error: #EC7C7C !default;
$warning: #ffb900 !default;
$success: #6EB77A !default;